<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Middle Kingdom</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <h1><a href="{{ url_for('index') }}">Middle Kingdom</a></h1>
            <ul>
                {% if session["answer_type"] == "traditional" %}
                    <li><a href="{{ url_for('words.simplified') }}">Switch to Simplified Characters</a></li>
                {% else %}
                    <li><a href="{{ url_for('words.traditional') }}">Switch to Traditional Characters</a></li>
                {% endif %}

                {% if g.user %}
                    <li><span>{{ g.user["username"] }}</span></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>

