{% extends "base.html" %}

{% block subnav %}
    <nav id="subnav" class="nav nav-pills justify-content-center bg-light pb-1 shadow-sm">
        <a
            class="nav-link {{ 'bg-danger active disabled' if session['answer_type'] != 'traditional' else 'text-danger' }}"
            href="{{ url_for('words.simplified', subpath=request.path[1:]) }}">
            Simplified
        </a>
        <a
            class="nav-link {{ 'bg-danger active disabled' if session['answer_type'] == 'traditional' else 'text-danger' }}"
            href="{{ url_for('words.traditional', subpath=request.path[1:]) }}">
            Traditional
        </a>

        <a class="nav-link bg-success active disabled ms-1 ms-sm-6" href="#">List</a>
        <a class="nav-link text-success" href="{{ url_for('quiz.index', question_type=question_type, level=level) }}">Quiz</a>

        {% if g.user %}
        <a
            class="nav-link ms-1 ms-sm-6{{ ' active disabled' if question_type != 'meaning' }}"
            href="{{ url_for('words.hsk', question_type='word', level=level) }}">
            Word
        </a>
        <a
            class="nav-link{{ ' active disabled' if question_type == 'meaning' }}"
            href="{{ url_for('words.hsk', question_type='meaning', level=level) }}">
            Meaning
        </a>
        {% endif %}
    </nav>
{% endblock %}

{% block header %}
    <h1>
        {% block title %}
        HSK {{ level }}
        {% endblock %}
    </h1>
{% endblock header %}

{% block content %}
    <p>{{words|length}} words</p>

    {% for word in words %}
    <div class="row border rounded mb-2 {{ word['weight_class'] }}">
        <div class="col-5 col-lg-4">
            <h5 class="dictionary-word">
                {{ word["traditional"] if session["answer_type"] == "traditional" else word["simplified"] }}
            </h5>
            <h6 class="text-muted">
                {{ word["pinyin_accent"] }}
                |
                <span class="text-nowrap">{{ word["simplified"] if session["answer_type"] == "traditional" else word["traditional"] }}</span>
            </h6>
        </div>

        <div class="col-6 col-lg-7">
            <p class="p-2">{{ word["meaning"] }}</p>
        </div>

        {% if g.user %}
        <div class="col-1">
            <div class="d-flex flex-column float-end">
                <span class="badge rounded-pill m-2 bg-success">{{ word["win"] }}<span class="visually-hidden"> Correct</span></span>
                <span class="badge rounded-pill m-2 bg-warning">{{ word["loss"] }}<span class="visually-hidden"> Wrong</span></span>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock content %}
