{% extends "base.html" %}

{% block header %}
    <h1>
        {% block title %}
        HSK {{ level }}
        {% if question_type %}
        [{{ question_type }}]
        {% endif %}
        {% endblock %}
    </h1>

    <nav class="nav">
        {% if question_type == 'word' %}
        <a class="nav-link" href="{{ url_for('words.hsk', question_type='meaning', level=level) }}">List Meaning Stats</a>
        {% elif question_type == 'meaning' %}
        <a class="nav-link" href="{{ url_for('words.hsk', question_type='word', level=level) }}">List Word Stats</a>
        {% endif %}

        <a class="nav-link" href="{{ url_for('quiz.index', question_type='word', level=level) }}">Quiz Words</a>
        <a class="nav-link" href="{{ url_for('quiz.index', question_type='meaning', level=level) }}">Quiz Meanings</a>
    </nav>
{% endblock header %}

{% block content %}
    <p>{{words|length}} words</p>

    {% for word in words %}
    <div class="row border rounded mb-2 {{ word['weight_class'] }}">
        <div class="col-5 col-lg-4">
            <h5 class="dictionary-word">
                {{ word["traditional"] if session["answer_type"] == "traditional" else word["simplified"] }}
            </h5>
            <h6 class="text-muted">
                {{ word["pinyin_accent"] }}
                |
                <span class="text-nowrap">{{ word["simplified"] if session["answer_type"] == "traditional" else word["traditional"] }}</span>
            </h6>
        </div>

        <div class="col-6 col-lg-7">
            <p class="p-2">{{ word["meaning"] }}</p>
        </div>

        {% if g.user %}
        <div class="col-1">
            <div class="d-flex flex-column float-end">
                <span class="badge rounded-pill m-2 bg-success">{{ word["win"] }}<span class="visually-hidden"> Correct</span></span>
                <span class="badge rounded-pill m-2 bg-warning">{{ word["loss"] }}<span class="visually-hidden"> Wrong</span></span>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock content %}
