{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}The Words{% endblock %}</h1>

    <nav class="nav">
        <a class="nav-link" href="{{ url_for('quiz.index', question_type='word') }}">Quiz All Words</a>
        <a class="nav-link" href="{{ url_for('quiz.index', question_type='meaning') }}">Quiz All Meanings</a>
    </nav>
{% endblock header %}

{% block content %}
<div class="row text-center">
    {% for level in hsk_levels %}
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">HSK {{ level['hsk_level'] }}</h3>
                <p>{{ level['total_word_count'] }} words</p>
                <div class="list-group list-group-horizontal m-3">
                    <a href="{{ url_for('quiz.index', question_type='word', level=level['hsk_level']) }}" class="list-group-item list-group-item-action list-group-item-success">Quiz Words</a>
                    <a href="{{ url_for('quiz.index', question_type='meaning', level=level['hsk_level']) }}" class="list-group-item list-group-item-action list-group-item-success">Quiz Meanings</a>
                    <a href="{{ url_for('words.hsk', level=level['hsk_level']) }}" class="list-group-item list-group-item-action">List Words</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
