{% extends "base.html" %}

{% block title %}{% endblock %}
{% block description %}Welcome to Midki! Practice typing simplified and traditional Chinese words based on your HSK level.{% endblock %}

{% block subnav %}
    <nav id="subnav" class="nav nav-pills justify-content-center bg-light pb-1 shadow-sm">
        <a
            class="nav-link {{ 'bg-danger active disabled' if session['answer_type'] != 'traditional' else 'text-danger' }}"
            href="{{ url_for('words.simplified') }}">
            Simplified
        </a>
        <a
            class="nav-link {{ 'bg-danger active disabled' if session['answer_type'] == 'traditional' else 'text-danger' }}"
            href="{{ url_for('words.traditional') }}">
            Traditional
        </a>
    </nav>
{% endblock %}

{% block header %}
    <h1>The Words</h1>
{% endblock header %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <div class="list-group list-group-horizontal m-3">
            <a class="list-group-item list-group-item-action list-group-item-info" href="{{ url_for('quiz.index', question_type='word') }}">Quiz All Words</a>
            <a class="list-group-item list-group-item-action list-group-item-info" href="{{ url_for('quiz.index', question_type='meaning') }}">Quiz All Meanings</a>
        </div>
    </div>

    {% for level in hsk_levels %}
    <div class="col-xl-6">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">HSK {{ level['hsk_level'] }}</h3>
                <p>{{ level['total_word_count'] }} words</p>
                <div class="list-group list-group-horizontal m-3">
                    <a href="{{ url_for('quiz.index', question_type='word', level=level['hsk_level']) }}" class="list-group-item list-group-item-action list-group-item-success">Quiz Words</a>
                    <a href="{{ url_for('quiz.index', question_type='meaning', level=level['hsk_level']) }}" class="list-group-item list-group-item-action list-group-item-success">Quiz Meanings</a>
                    <a href="{{ url_for('words.hsk', level=level['hsk_level']) }}" class="list-group-item list-group-item-action">List Words</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
