{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}The Words{% endblock %}</h1>

    {% if not g.user %}
    <nav class="nav">
        <a class="nav-link" href="{{ url_for('quiz.index', question_type='word') }}">Quiz All Words</a>
        <a class="nav-link" href="{{ url_for('quiz.index', question_type='meaning') }}">Quiz All Meanings</a>
    </nav>
    {% endif %}
{% endblock header %}

{% block content %}
    {% for level in hsk_levels %}
    <h3>HSK {{ level }}</h3>
    <p>
        <a href="{{ url_for('quiz.index', question_type='word', level=level) }}">Quiz Words</a> |
        <a href="{{ url_for('quiz.index', question_type='meaning', level=level) }}">Quiz Meanings</a> |
        {% if g.user %}
        <a href="{{ url_for('words.hsk', level=level, question_type='word') }}">List Word Stats</a> |
        <a href="{{ url_for('words.hsk', level=level, question_type='meaning') }}">List Meaning Stats</a>
        {% else %}
        <a href="{{ url_for('words.hsk', level=level) }}">List Words</a>
        {% endif %}
    </p>
    {% endfor %}
{% endblock content %}
