{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock header %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <input type="submit" class="btn btn-primary mb-3" value="Login">
    </form>
{% endblock content %}
