{% extends "base.html" %}

{% block header %}
<h1>
    {% block title %}
    Quiz
    [{{ question_type }}]
    {% endblock %}
</h1>

    {% if level %}
    <nav class="nav">
        <a class="nav-link" href="{{ url_for('words.hsk', level=level, question_type=question_type) }}">List Words<a>
    </nav>
    {% endif %}
{% endblock header %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-4 col-md-12 col-xl-4 mb-3">
        <div class="p-3 border rounded-pill text-center">
            <h1 class="quiz-word">
                {% if session["answer_type"] == "traditional" %}
                {{ word_info["traditional"] }}</h1>
                {% else %}
                {{ word_info["simplified"] }}
                {% endif %}
            </h1>

            <p class="text-muted">{{ word_info["pinyin_accent"] }}</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-12 col-xl-6">
        <p class="p-2 border-start rounded bg-light">{{ word_info["meaning"] }}</p>

        <table class="table">
            <tr>
                {% if session["answer_type"] == "traditional" %}
                <th scope="row">Simplified</th>
                <td>{{ word_info["simplified"] }}</td>
                {% else %}
                <th scope="row">Traditional</th>
                <td>{{ word_info["traditional"] }}</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Wubi</th>
                <td>{{ word_info["wubi"] }}</td>
            </tr>
        </table>
    </div>

    {% if recent_performance %}
    <div class="col-sm-2 col-md-12 col-xl-2 text-center mb-3">
        <p class="d-inline d-sm-block d-md-inline d-xl-block">recently</p>
        <h1 class="d-inline d-sm-block d-md-inline d-xl-block">{{ recent_performance }}</h1>
    </div>
    {% endif %}
</div>

<form action="{{ url_for("quiz.index", question_type=question_type, level=level) }}" method="get">
    <input type="submit" value="Next Word" class="btn btn-primary mb-3" autofocus="true">
</form>
{% endblock content %}
