{% extends "base.html" %}

{% block subnav %}
    <nav id="subnav" class="nav nav-pills justify-content-center bg-light pb-1 shadow-sm">
        <a
            class="nav-link {{ 'bg-danger active disabled' if session['answer_type'] != 'traditional' else 'text-danger' }}"
            href="{{ url_for('words.simplified', subpath=request.path[1:]) }}">
            Simplified
        </a>
        <a
            class="nav-link{{ ' bg-danger active disabled' if session['answer_type'] == 'traditional' else ' text-danger' }}"
            href="{{ url_for('words.traditional', subpath=request.path[1:]) }}">
            Traditional
        </a>

        {% if level %}
        <a class="nav-link text-success ms-2 ms-sm-6" href="{{ url_for('words.hsk', question_type=question_type, level=level) }}">List</a>
        <a class="nav-link bg-success active disabled" href="#">Quiz</a>
        {% endif %}

        <a
            class="nav-link ms-2 ms-sm-6{{ ' active disabled' if question_type != 'meaning' }}"
            href="{{ url_for('quiz.index', question_type='word', level=level) }}">
            Word
        </a>
        <a
            class="nav-link{{ ' active disabled' if question_type == 'meaning' }}"
            href="{{ url_for('quiz.index', question_type='meaning', level=level) }}">
            Meaning
        </a>
    </nav>
{% endblock %}

{% block header %}
    <h1>
        {% block title %}
        Quiz
        {% endblock %}
        
        {% if level %}
        [HSK {{ level }}]
        {% endif %}
    </h1>
{% endblock header %}

{% block content %}
    {% if question_type == "meaning" %}
    <h3 class="mb-3 p-3 border-start rounded bg-light">{{ word["quiz"] }}</h3>
    {% else %}
    <h3 class="quiz-word mb-3 p-3 text-center text-sm-start">{{ word["quiz"] }}</h3>
    {% endif %}

    <form method="post">
        <div class="mb-3">
            <label for="answer" class="form-label">Please enter the word:</label>
            <input name="answer" id="answer" class="form-control" autocomplete="off" autofocus="autofocus">
        </div>
        <input type="submit" value="Check Answer" class="btn btn-secondary mb-3">
    </form>
{% endblock content %}
