@font-face {
    font-family: 'Noto Sans SC';
    src: local('Noto Sans SC'), url('/static/fonts/NotoSansSC-Regular.otf') format('opentype');
}
body {
    font-family: 'Noto Sans SC', sans-serif;
}

#subnav .nav-link {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
}

.content > header {
    border-bottom: 1px solid lightgray;
}

.dictionary-word {
    font-size: 2rem;
}

.quiz-word {
    font-size: 3rem;
}

@media (min-width: 576px) { 
    #subnav .nav-link {
        padding: 0.3rem 0.8rem;
    }
}

@media (min-width: 768px) { 
    html {
        font-size: 1.5em;
    }
}

