@font-face {
    font-family: 'Noto Sans SC';
    src: local('Noto Sans SC'), url('/static/fonts/NotoSansSC-Regular.otf') format('opentype');
}

body {
    font-family: 'Noto Sans SC', sans-serif;
}

.content > header {
    border-bottom: 1px solid lightgray;
}

.dictionary-word {
    font-size: 2rem;
}

.quiz-word {
    font-size: 3rem;
}
