html {
    height: 100%;
}

body {
    height: 100%;
}

#welcome {
    font-size: 0.8rem;
}

#welcome p {
    margin-bottom: 0;
}

#subnav .nav-link {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
}

.dictionary-word {
    font-size: 2rem;
}

.quiz-word {
    font-size: 3rem;
}

#designed-by {
    font-size: 0.8rem;
    margin-bottom: 0;
}

@media (min-width: 576px) { 
    #subnav .nav-link {
        padding: 0.3rem 0.8rem;
    }
}

@media (min-width: 768px) { 
    html {
        font-size: 1.5em;
    }
}

